[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ADTSA"]
	path = ADTSA
	url = https://github.com/cran/ADTSA
[submodule "Hassani.SACF"]
	path = Hassani.SACF
	url = https://github.com/cran/Hassani.SACF
[submodule "Hassani.Silva"]
	path = Hassani.Silva
	url = https://github.com/cran/Hassani.Silva
[submodule "PreProcessRecordLinkage"]
	path = PreProcessRecordLinkage
	url = https://github.com/cran/PreProcessRecordLinkage
